[Unit]
Description=FirePi Shell
After=systemd-user-sessions.service

[Service]
User=pi
WorkingDirectory=/home/pi
ExecStart=/opt/firepi-shell/start.sh
Restart=always

[Install]
WantedBy=multi-user.target
